<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.demoset">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".md.TabLayoutActivity" />
        <activity android:name=".md.FloatingActionButtonActivity" />
        <activity android:name=".md.TextInputLayoutActivity" />
        <activity android:name=".md.SampleListPopupWindowActivity" />
        <activity
            android:name=".md.NavigationDrawerActivity"
            android:label="@string/title_activity_navigation_drawer"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".md.AppBarLayoutActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".md.ListPopupWindowActivity" />
        <activity android:name=".md.RecyclerViewLinearActivity" />
        <activity
            android:name=".md.ToolBarActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".md.ToolbarSearchActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".md.CollapsingToolbarLayoutActivity"
            android:label="悬浮" />
        <activity android:name=".md.SwipyRefreshLayoutActivity" />
        <activity android:name=".md.CardViewActivity" />
        <activity android:name=".ui.SpannableStringActivity" />
        <activity android:name=".ui.TabHostActivity" />
        <activity android:name=".ui.ActionBarActivity" />
        <activity android:name=".md.LinearLayoutCompatActivity" />
        <activity android:name=".ui.ExpandableListViewActivity" />
        <activity android:name=".ui.CapturePictureActivity" />
        <activity android:name=".ui.FragmentActivity" />
        <activity android:name=".ui.ProvinceActivity" />
        <activity android:name=".md.ItemTouchHelperActivity" />
        <activity android:name=".md.DeleteItemActivity" />
        <activity android:name=".ui.SwipeDelMenuLayoutActivity" />
        <activity android:name=".BaseActivity" />

        <service android:name=".service.LeakUploadService" />

        <activity
            android:name=".ui.HoverActivity"
            android:label="悬浮-scrollview" />
        <activity
            android:name=".ui.FragmentViewPagerActivity"
            android:label="fragment +viewpager 实现" />
        <activity
            android:name=".ui.DynamicFragmentActivity"
            android:label="动态嵌入fragment-最常用最基础" />
        <activity android:name=".md.SwipeEmpityViewActivity"></activity>
    </application>

</manifest>